.mat-list-item{
  color: white;
  transition: 0.3s;
}

.mat-sidenav{
  background-color: #022a5e;
  width: 220px;

}
img {
  border-radius: 100%;
  width:40px;
  height:40px;
  object-fit: cover;
  vertical-align:middle;
  margin-left: 15px;
}
.mat-list-title{
  color:#01e9e1;
}
mat-icon{
  color:#8BA0B3;
  vertical-align:middle;
  margin-left: 12px;
}
mat-label{
  color:#0147CB;
  padding-left: 10px;
}

.container{
  max-width: 100%;
  margin-left: 0;
  background: #0147CB;
  min-height: 120px;
  color: white;
}
.mat-list-subtitle:hover {
  background-image: linear-gradient(to right, #123263, #0e3062, #0a2e61, #062c5f, #022a5e);
  color: white;
  border-left:solid #00F2E6;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
table {
  width: 100%;
  border-radius: 8px;
  overflow:hidden ;text-align: initial;
}

mat-card{
  border-radius: 8px;
  overflow:hidden;
  text-align: left;
  background-color: #E5E9F4;
  margin-bottom: 20px;
}

.avatar2{
  border-radius: 100%;
  width:70px;
  height:70px;
  object-fit: cover;
  vertical-align:middle;
  margin-left: 10px;
}
h2,p{
  margin-left: 10px;
  margin-bottom: 0px;
}
.button {
  background-color: #0147CB; /* Green */
  padding: 7px;
  margin-bottom: 6px;
  border: solid 1px #00F2E6;
  color: white;
  width: 200px;
  text-align: center;
  font-size: 16px;
  border-radius: 40px;
  cursor: pointer;
}
.example-container{
  height: 100vh;
}


th{
  font-weight: bold;
  color: #0147CB;

}

.negative {
    color: red;
}
mat-icon{
  cursor: pointer;float: right
}
