.mat-list-item{
  color: white;
  transition: 0.3s;
}

.mat-sidenav{
  background-color: #022a5e;
  width: 220px;

}
img {
  border-radius: 100%;
  width:40px;
  height:40px;
  object-fit: cover;
  vertical-align:middle;
  margin-left: 15px;
}
.mat-list-title{
  color:#01e9e1;
}
mat-icon{
  color:#8BA0B3;
  vertical-align:middle;
  margin-left: 12px;
}
mat-label{
  color:#0147CB;
  padding-left: 10px;
}

.container{
  max-width: 100%;
  margin-left: 0;
  background: #0147CB;
  min-height: 120px;
  color: white;
}
.mat-list-subtitle:hover {
  background-image: linear-gradient(to right, #123263, #0e3062, #0a2e61, #062c5f, #022a5e);
  color: white;
  border-left:solid #00F2E6;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
table {
  width: 100%;
  border-radius: 8px;
  overflow:hidden ;text-align: initial;
}

.mat-card-1{
  border-radius: 8px;
  overflow:hidden;
  text-align: left;
  background-color: #E5E9F4;
  margin-bottom: 20px;
}
.mat-card-2{
  border-radius: 8px;
  overflow:visible;
  text-align: left;
  background-color: #E5E9F4;
  margin-bottom: 20px;
  width: 50%;

}


.avatar2{
  border-radius: 100%;
  width:70px;
  height:70px;
  object-fit: cover;
  vertical-align:middle;
  margin-left: 10px;
}
h2,p{
  margin-left: 10px;
  margin-bottom: 0px;
}
.button {
  background-color: #0147CB; /* Green */
  padding: 7px;
  margin-bottom: 6px;
  border: solid 1px #00F2E6;
  color: white;
  width: 200px;
  text-align: center;
  font-size: 16px;
  border-radius: 40px;
  cursor: pointer;
}
.example-container{
  height: 100vh;
}


th{
  font-weight: bold;
  color: #0147CB;

}

.negative {
    color: red;
}
mat-icon{
  cursor: pointer;float: right
}
.mat-list-subtitle:hover {
  background-image: linear-gradient(to right, #123263, #0e3062, #0a2e61, #062c5f, #022a5e);
  color: white;
  border-left:solid #00F2E6;
}
::ng-deep.mat-dialog-container {
  margin:auto!important;
  width: 25%!important;
  height: 50%!important;
}
button.calendar, button.calendar:active {
  width: 2.75rem;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=') !important;
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: center;
}

@media (max-width: 1000px) {
.mat-sidenav{
  background-color: #022a5e;
  width: 1px;
}


}
