.center {
  margin: auto;
  width: 30%;

  padding: 10px;

}

.center2 {
  margin: auto;
  width: 70%;

  padding: 10px;
  text-align: center;
}

.inputField {
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  border:solid 2px;
  border-color: #0147CB;
  box-sizing: border-box;

}



.align-left{
   float: left;
 }

.align-right{
   float: right;
   width: 30%;
  margin-right: 10%;
 }
hr.solid {
  border-top: 2px solid #6FF7F0;
  width: 82%;
  margin-bottom: 15px;
}

h1,h2,p{
color: #0147CB;
}
.button {
  background-color: #0147CB; /* Green */
  padding: 13px;
  border: none;
  color: white;
  width: 80%;
  text-align: center;
  font-size: 16px;
  border-radius: 40px;
  cursor: pointer;
}
.button-secondary {
  background-color: #00F2E6; /* Green */
  padding: 13px;
  border: none;
  color: white;
  width: 100%;
  text-align: center;
  font-size: 16px;
  border-radius: 40px;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .center {
    width: 90%;
  }
}

.form-control{
height: auto;
display: initial;
  margin-bottom: 5px;
}
