    <img style="margin-top: 25%;width: 85px; height: 85px" src="https://i.ibb.co/F3DXzqD/moneylogo.png"><br>
    <mat-list role="list">
      <mat-list-item class="mat-list-title" role="navigation">ACCOUNTS</mat-list-item>
      <mat-list-item class="mat-list-subtitle" role="navigation">Account summary</mat-list-item>
      <mat-list-item class="mat-list-subtitle" role="navigation">Accounts</mat-list-item>
      <br><br>
      <mat-list-item class="mat-list-title" role="navigation">TRANSACTIONS</mat-list-item>
      <mat-list-item class="mat-list-subtitle" role="navigation">Inquire transactions</mat-list-item>
      <mat-list-item class="mat-list-subtitle" role="navigation">Fund Transfer</mat-list-item>
      <mat-list-item class="mat-list-subtitle" role="navigation">Bill Payments</mat-list-item>
    </mat-list>
